.listing_hero {
  background-color: #94d2bd;
  background-image: url("../images/list/page-list/hero.jpg");
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  height: 100vh;
  position: relative;
}

.listing_hero::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: inherit;
  content: "";
  background-color: rgba(0,0,0,0.4);
  z-index: 1;
}

.listing_hero .contents {
  position: relative;
  z-index: 2;
}

.listing_hero .contents h1 {
  font-size: clamp(38px, 8vw, 46px);
  color: var(--light-teal);
  text-align: center;
  margin-bottom: 0.8rem;
}

.listing_hero .contents p {
  color: var(--light-teal);
  font-weight: 600;
  text-align: center;
  margin-inline: auto;
  max-width: 800px;
}

.listing_hero .contents .cta-bar {
  margin-top: 2.5rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  max-width: 625px;
  margin-inline: auto;
}

.listing_hero .contents .cta-bar .search {
  position: relative;
}

.listing_hero .contents .cta-bar .search .search-bar {
  height: 2.3rem;
  border: 0.05rem solid var(--very-light-teal);
  border-radius: 1.1rem;
  background-color: transparent;
  backdrop-filter: blur(2px);
  color: var(--deep-teal);
  padding: 0.5rem;
  padding-inline: 0.8rem;
  min-width: 350px;
  max-width: 400px;
  transition: 0.2s all;
}

.listing_hero .contents .cta-bar .search .search-bar:hover, 
.listing_hero .contents .cta-bar .search .search-bar:focus {
  outline: none;
  background-color: var(--very-light-teal);
  border-color: var(--light-teal);
}

.listing_hero .contents .cta-bar .search .search-bar:hover + .suggestions,
.listing_hero .contents .cta-bar .search .search-bar:focus + .suggestions {
  display: block;
}

.listing_hero .contents .cta-bar .search .search-bar::placeholder {
  color: var(--light-teal);
}

.listing_hero .contents .cta-bar .search .search-bar:hover::placeholder, 
.listing_hero .contents .cta-bar .search .search-bar:focus::placeholder {
  color: var(--deep-teal);
}

.listing_hero .contents .cta-bar .search .suggestions {
  position: absolute;
  top: 100%;
  margin-top: 0.4rem;
  left: auto;
  background-color: var(--very-light-teal);
  width: 100%;
  max-height: 12rem;
  overflow-y: auto;
  border-radius: 1rem;
  display: none;
  border: 0.1rem solid var(--light-teal);
  z-index: 1000;
  padding: 0.5rem 1rem;
}

.listing_hero .contents .cta-bar .search .suggestions::-webkit-scrollbar {
  display: none;
}

.listing_hero .contents .cta-bar .search .suggestions li {
  font-size: 0.9rem;
  margin-bottom: 0.3rem;
  font-weight: 500;
}

.listing_hero .contents .cta-bar .search .suggestions .no-result {
  color: red;
  font-style: italic;
  text-align: center;
}

.listing_hero .contents .cta-bar .search-btn {
  background-color: var(--light-teal);
  color: var(--deep-teal);
  backdrop-filter: blur(2px);
  padding: 0.5rem;
  margin-left: 0.3rem;
  border: 0.1rem var(--very-light-teal) solid;
  border-radius: 1.8rem;
  font-weight: 600;
  padding-inline: 0.8rem;
  transition: 0.3s all;
}

.listing_hero .contents .cta-bar .search-btn i {
  margin-left: 0.1rem;
  font-size: small;
}

.listing_hero .contents .cta-bar .full-list {
  color: var(--light-teal);
  background-color: transparent;
  backdrop-filter: blur(2px);
  padding: 0.5rem;
  margin: 0.8rem;
  border: 0.1rem var(--very-light-teal) solid;
  border-radius: 1.8rem;
  font-weight: 600;
  padding-inline: 1.2rem;
  transition: 0.3s all;
}

.listing_hero .contents .cta-bar .full-list:hover, 
.listing_hero .contents .cta-bar .full-list:hover {
  background-color: var(--light-teal);
  color: var(--deep-teal);
}

.listings .listings_header {
  max-width: fit-content;
  margin-inline: auto;
}

.listings .listings_header h2 {
  font-size: clamp(24px, 8vw, 32px);
  color: var(--deep-teal);
  text-align: center;
  margin-bottom: 0.8rem;
}

.listings .listing-lists {
  display: flex;
  gap: 1.5rem;
  max-width: 100%;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}