.heading {
  margin-top: 4rem;
  padding: 1rem;
}

h2 {
  font-size: 1.7rem;
}

h3 {
  font-size: 1.25rem;
}

.heading h1 {
  font-size: 2rem;
}

.heading .location {
  font-weight: 500;
  font-size: 1.1rem;
  font-style: italic;
  margin-bottom: 0.5rem;
}

.heading .about {
  color: var(--very-light-teal);
  font-size: 1.1rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
}

.heading .about span {
  padding: 0.3rem;
  display: inline-block;
  padding-inline: 0.8rem;
  background: var(--primary-color);
  border-radius: 1rem;
  margin-inline: 0.2rem;
  margin-bottom: 0.5rem;
}

.heading .about span i {
  margin-right: 0.2rem;
}


.heading .price {
  display: inline-block;
  color: var(--primary-color);
  font-size: 1.9rem;
  font-weight: 700;
  border-radius: 1rem;
  margin-inline: 0.2rem;
}

.images {
  display: flex;
  align-items: center;
  padding: 0.5rem;
  margin: 0.5rem;
  flex-wrap: nowrap;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
}

.images img {
  margin-right: 0.5rem;
  border-radius: 0.3rem;
  scroll-snap-align: start;
}

.description {
  border-radius: 1rem;
  border: 0.08rem solid var(--secondary-color);
  background-color: var(--light-teal);
  padding: 0.8rem;
  margin: 0.8rem;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
}


.description .overview {
  flex-grow: 3;
}

.description .overview h2 {
  margin-bottom: 1rem;
}

.description .overview p {
  font-size: 1rem;
  max-width: 500px;
}


.description .details {
  margin-top: 2rem;
  max-width: 500px;
  flex-grow: 4;
}


.description .details ul {
  margin-top: 0.5rem;
  padding: 0.5rem;
}


.description .details ul li {
  margin-bottom: 0.8rem;
  font-weight: 500;
  display: flex;
  justify-content: space-between;
  align-items: center;
  white-space: nowrap;
}

.description .details ul li span {
  font-weight: 600;
  display: inline-block;
  width: 40%;
  color: var(--primary-color);
}

.description .amenities {
  margin-top: 2rem;
  flex-grow: 1;
  max-width: 700px;
}

.description .amenities ul {
  margin-top: 0.5rem;
  padding: 0.5rem;
  max-width: 600px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.description .amenities ul li {
  margin-bottom: 0.8rem;
  font-weight: 500;
  min-width: 272px;
  max-width: 275px;
}

.description .amenities ul li strong {
  color: var(--primary-color);
}

.description .amenities ul li strong i {
  margin-right: 0.15rem;
}

.agent {
  margin-top: 5rem;
  padding: 1rem;
  background-color: var(--secondary-color);
}

.agent h2 {
  margin-top: 5rem;
  text-align: center;
  margin-inline: auto;
  color: var(--very-light-teal);
  max-width: 750px;
}

.agent a {
  display: block;
  max-width: 500px;
  padding: 0.8rem;
  margin-top: 3rem;
  margin-bottom: 5rem;
  margin-inline: auto;
  text-align: center;
  font-weight: 800;
  border-radius: 0.8rem;
  box-shadow: 0 0 6px var(--very-light-teal);
  background: linear-gradient(rgb(52,236,224), rgb(11,99,93));
  z-index: 1;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  color: var(--very-light-teal);
  transition: transform 1s ease-in-out;
}

.agent a::before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  right: 100%;
  display: inline-block;
  left: 0;
  background: linear-gradient(rgb(0,46,57), rgb(0,95,115));
  opacity: 0;
  z-index: -1;
  transition: all 0.5s;
}

.agent a:hover::before {
  left: 0;
  right: 0;
  opacity: 1;
}

.agent a i {
  margin-right: 0.4rem;
  transition: transform 0.5s ease-in-out;
}